# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Arjun owns everything not owned by anyone else
* @arjunchib

# Editors own anything under the /articles/ directory
/articles/ @fraiser-fan-club/editors
